#Logo {
	height: 300px;
	width: 300px;
	position: fixed;
	bottom: 5%;
	right: 5%;
	background-image: url(Logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}