@CHARSET "UTF-8";
body{
	background-color: tomato;
}
input[type=text], input[type=password]
	{width: 350px}

input[type=submit] {
	width: 70pt; margin: 2pt; background-color: white
}
h1{
	color:white; font-size: 16pt
}
.t1
{
	color:white;
}
.fehlermeldung
{
	color: white;>
}
