@charset "UTF-8";

/* Browser-Standardabstände entfernen */
p, div, main, nav, span, table, tr, td {
	padding: 0px;
	margin: 0px;
}

/* Allgemeiner Stil */
html {
	min-height: 100%;
}

body {
	background-color: #FF463E;
	font-family: Arial, Verdana, sans-serif;
}

textarea {
	font-family: inherited;
}

.white {
	color: #FFF;
}

/* Spezielle Elemente auf Anmelden- und Registrieren-Seite */
.t1
{
	color:white;
}
.fehlermeldung
{
	color: white;>
}

body.logo {
	background-image: url(Logo.png);
	background-size: auto 300px;
	background-repeat: no-repeat;
	background-position: bottom 5% right 5%;
	min-height: 100%;
}

.t1 input[type=text], .t1 input[type=password]
	{
	width: 350px;
	}

.t1 input[type=submit] {
	width: 70pt; margin: 2pt; background-color: white
}

/* Navigationsleiste */
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #BF3D28;
	color: #FFF;
	padding: 5px 10px 5px 0px;
	box-sizing: border-box;
	display: flex;
	height: 40px;
}

nav * {
	color: #FFF;
}

#nav_links
{
	width: 50%;
	text-align: left;
}

#nav_rechts
{
	width:50%;
	text-align: right;
}

#start_button {
	display: inline-block;
	margin: -5px 0;
	padding: 0 2.5%;
	width: 40px;
	height: 40px;
	background-color: #FFF;
	background-image:url(Icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#suchehashtag {
	margin: 0 5px;
	color: rgb(80, 80, 80);
	height: 30px;
	padding: 2.5px 5px;
	width: 60%;
	max-width: 350px;
	clear: both;	
	box-sizing: border-box;
}

#benutzername {
	line-height: 30px;
	font-weight: bold;
}

#abmelden_button {
	text-decoration: none;
	line-height: 30px;
}

#abmelden_button:before {
	content: ' (';
}

#abmelden_button:after {
	content: ')';
}

#abmelden_button:hover {
	color: #CCC;
}

main {
	margin-top:40px;
}


/* Aktions-Bereich */
#aktions_bereich {
	padding: 5px;
}

#nachricht_container input {
	width: 100%;
}

#nachrichtenEingabe
{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 100px;
	max-height: 200px;
	min-height: 50px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 3px;
}

#gefolgte_container {
	margin-top: 1em;
}

#gefolgte_header {
	font-weight: bold;
}

#aktions_bereich {
	background-color: #FFF;
	border-radius: 10px;
}


/* Formatierung von Nachrichten */

.nachricht {
	background-color: #FFF;
	border-radius: 10px;
	margin-bottom: 2px;
}

.nachrichtHeader {
	padding: 5px 5px 2px 5px;
	border-bottom: 1px solid #CCC;
}
.nachrichtBody {
	padding: 2px 5px 5px 5px;
}

a.hashtag {
	color: #E8567B;
	text-decoration: none;
}
a.hashtag.highlighted {
	font-weight: bold;	
}

.benutzerNickname, .nachrichtNickname {
	color: #555;
}
.benutzerNickname:before, .nachrichtNickname:before {
	content: ' (';
}
.benutzerNickname:after, .nachrichtNickname:after {
	content: ')';
}

.nachrichtDatum:before {
	content: ' • ';
}


/* Spezielle Anpassungen für große Bildschirme */
@media(min-width: 768px){
	main {
		margin-left: calc(50% - 384px);
	}
	#aktions_bereich {
		display: inline-block;
		width: 240px;
		margin-top: 5px;
		float: left;
	}
	#haupt_bereich {
		margin-left: 5px;
		display: inline-block;
		width: 495px;
		padding: 5px;
		clear: both;
	}
}

/* Spezielle Anpassungen für kleine Bildschirme */
@media (max-width: 767.99px){
	main {
		margin-top:45px;
	}
	
	#aktions_bereich {
		margin-bottom: 5px;
	}
}

@media (max-width: 500px){
	.t1 input[type=text], .t1 input[type=password]
	{
	width: auto;
	}
}